<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Asynchronous servlet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
  </head>
  <body>
    <table>
      <tr>
        <th>Computed pi</th>
        <th>Error +/-</th>
      </tr>
      <tr th:each="pi : ${pis}">
        <td><span th:text="${pi.computedPi}" /></td>
        <td><span th:text="${pi.error}" /></td>
      </tr>
    </table>
  </body>
</html>
